body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
  display: flex;
  border:1px solid black;
  align-items: center;
  justify-content: space-around;
}

#navbar {
  border: 1px solid black;
}

#threads{
  font-size: large;
  border:1px solid red;
}

.threadPreview{
  color:royalblue;
  font-size:small

}

.Title{
  color:purple;
  outline-color: seagreen;
}